h1 {
    font-size: 100px;
    font-weight: bold;
    width: 50%;
}

header {
    width: 60%;
    height: 80%;
    float: right;
    padding: 20px 0 10px 0;
}

h3 {
    padding: 15px;
    font-size: 40px;
    font-weight: bold;
}

body {
    background-color: black;
    color: white;
}

img {
    width: 36%;
    float: left;
    height: 900px;
    margin-left: 50px;
    position: absolute;
}

footer,
main>span {
    width: 50%;
    height: 100%;
    float: right;
    padding: 20px;
    font-size: 22px;
}

ul {
    float: right;
    width: 40%;
    padding: 20px;
}

ol {
    float: left;
    width: 48%;
    padding: 20px;
}

li {
    padding-top: 10px;
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.vl {
    border-left: 2px dotted white;
    height: 300px;
    float: left;
    margin-top: 10%;
}

.link {
    width: 5%;
    height: 60%;
    float: left;
    position: absolute;
    padding-top: 50px;
    padding-left: 15px;
}

a {
    text-decoration: none;
    padding-bottom: 100px;
    color: rgb(230, 16, 165);
    font-size: large;
    display: block;
    font-size: 30px;
}